@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 100% 99.6%;
    --foreground: 226 33% 13%;

    --card: 0 0% 100%;
    --card-foreground: 226 33% 13%;

    --badge: 12, 55.6%, 94.7%;
    --badge-foreground: 11.9, 57.6%, 52%;

    --popover: 0 0% 100%;
    --popover-foreground: 226 33% 13%;

    --primary: 3.9 87.8% 55.1%;
    --primary-foreground: 0 85.7% 97.3%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 3.9 87.8% 55.1%;
    --radius: 0.5rem;

    --section-padding-t: 5rem;
    --section-padding-b: 7rem;
  }

  .dark {
    --foreground: 22.1 26.8% 86.1%;
    --background: 226 33% 13%;

    --card: 0 0% 10.2%;
    --card-foreground: 0 0% 98%;

    --badge: 0 14.6% 17.5%;
    --badge-foreground: 1.8 61.3% 56.5%;

    --popover: 0 0% 10.2%;
    --popover-foreground: 0 0% 98%;

    --primary: 0.7 73.2% 56.1%;
    --primary-foreground: 0 85.7% 97.3%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 12.5%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 12.5%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 12.5%;
    --input: 0 0% 12.5%;
    --ring: 3.9 87.8% 55.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply font-mada;
  }

  body {
    @apply bg-background text-foreground;
  }

  section:not(:first-child) {
    @apply pt-section-t;
    @apply pb-section-b;
  }

  h1,
  h2 {
    @apply font-poppins;
  }

  h3,
  h4 {
    @apply font-crimsonText;
  }
  h2 {
    @apply text-4xl font-semibold tracking-tight text-center uppercase scroll-m-20 first:mt-0 mb-16 text-primary;
  }
  h3 {
    @apply text-3xl font-semibold tracking-tight scroll-m-20;
  }
  h4 {
    @apply text-2xl font-semibold tracking-tight scroll-m-20;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src:
    local(""),
    url("/fonts/poppins/Poppins-Regular.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src:
    local(""),
    url("/fonts/poppins/Poppins-Medium.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src:
    local(""),
    url("/fonts/poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src:
    local(""),
    url("/fonts/poppins/Poppins-Bold.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 800;
  font-style: normal;
  src:
    local(""),
    url("/fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: normal;
  src:
    local(""),
    url("/fonts/poppins/Poppins-Black.woff2") format("woff2"),
    url("/fonts/poppins/Poppins-Black.ttf") format("ttf");
}

@font-face {
  font-family: "Mada";
  font-weight: 400;
  font-style: normal;
  src:
    local(""),
    url("/fonts/mada/Mada-Regular.woff2") format("woff2"),
    url("/fonts/mada/Mada-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "CrimsonText";
  font-weight: 400;
  font-style: normal;
  src:
    local(""),
    url("/fonts/crimson-text/CrimsonText-Regular.woff2") format("woff2"),
    url("/fonts/crimson-text/CrimsonText-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "CrimsonText";
  font-weight: 600;
  font-style: normal;
  src:
    local(""),
    url("/fonts/crimson-text/CrimsonText-SemiBold.woff2") format("woff2"),
    url("/fonts/crimson-text/CrimsonText-SemiBold.ttf") format("ttf");
}

@layer components {
  .menu {
    --s: 24px; /* control the size */
    --c: hsl(var(--foreground)); /* the color */

    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s) / 2) solid #0000;
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
      content-box border-box;
    --_g2: radial-gradient(
        circle closest-side at 50% 12.5%,
        var(--c) 95%,
        #0000
      )
      repeat-y content-box border-box;
    background:
      var(--_g2) left var(--_p, 0px) top,
      var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
      var(--_g2) right var(--_p, 0px) top,
      var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
    background-size:
      20% 80%,
      40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
    cursor: pointer;
    transition:
      background-position 0.3s var(--_s, 0.3s),
      clip-path 0s var(--_s, 0.6s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .menu:before,
  .menu:after {
    content: "";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
  }

  .menu:checked {
    clip-path: inset(0);
    --_p: calc(-1 * var(--s));
    --_s: 0s;
  }
  .menu:checked:before {
    transform: rotate(45deg);
  }
  .menu:checked:after {
    transform: rotate(-45deg);
  }
  .menu:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
  }
}
