---
import RootLayout from '../layouts/BaseLayout.astro'
import Prose from '@/components/Prose.astro'
import { getEntry } from 'astro:content'
const entry = await getEntry('about', 'about-me')
const { Content } = await entry.render()
---

<RootLayout title={entry.data.title} topId='about'>
  <section class='container py-48' id='about'>
    <Prose>
      <Content />
    </Prose>
  </section>
</RootLayout>
