---
import RootLayout from '../layouts/RootLayout.astro'
import Prose from '@/components/Prose.astro'
import { getEntry } from 'astro:content'
const entry = await getEntry('about', 'about')
const { Content } = await entry.render()
---

<RootLayout title={entry.data.title}>
  <section class='container py-48'>
    <Prose>
      <Content />
    </Prose>
  </section>
</RootLayout>
