---
import RootLayout from '@/layouts/RootLayout.astro'
// import * as aboutContent from '../../content/about/about-me.md'
---

<RootLayout>
  <section class='bg-background py-48'>{aboutContent.Content}</section>
</RootLayout>
