---
import { getEntry } from 'astro:content'
import { buttonVariants } from '@/components/ui/button.tsx'
import SectionAnimation from './animations/section-animation'
import { FloatAnimation } from './animations/float-animation'
import aboutMeImg from '../assets/about-me2.jpg'
import { Image } from 'astro:assets'

const aboutEntry = await getEntry('about', 'about-me')
---

<section id='about'>
  <SectionAnimation client:load>
    <div class='container'>
      <h2>About Me</h2>
      <div class='justify-center gap-12 lg:flex'>
        <FloatAnimation client:load>
          <Image
            src={aboutMeImg}
            height='376'
            width='350'
            class='rounded-xl object-contain group-hover/card:shadow-xl'
            alt='A picture of Faizan Asif'
          />
        </FloatAnimation>

        <article class='max-w-[65ch] flex-1 text-lg tracking-wider nav:mt-8'>
          <p class='mb-8'>
            {aboutEntry.data.description}
          </p>

          <a
            href='/about'
            class={buttonVariants({ variant: 'link', size: 'auto' })}
            >Continue reading my bio &rarr;</a
          >
        </article>
      </div>
    </div>
  </SectionAnimation>
</section>
