---
import { getEntry } from 'astro:content'
import { buttonVariants } from '@/components/ui/button.tsx'
import SectionAnimation from './animations/section-animation'
import { FloatAnimation } from './animations/float-animation'
const aboutEntry = await getEntry('about', 'about-me')
---

<section id='about'>
  <SectionAnimation client:only='react'>
    <div class='container'>
      <h2>About Me</h2>
      <div class='gap-12 lg:flex'>
        <!-- <div class='mx-auto w-[80%] lg:h-[400px] lg:w-[400px]'> -->
        <FloatAnimation src='/images/about/about-me.jpeg' client:load />
        <!-- <img
            src='/images/about/2.jpeg'
            alt='Faizan Asif'
            class='h-full w-full object-contain'
          /> -->
        <!-- </div> -->
        <article class='max-w-[65ch] flex-1 text-lg tracking-wider nav:mt-8'>
          <p class='mb-8'>
            {aboutEntry.data.description}
          </p>

          <a
            href='/about'
            class={buttonVariants({ variant: 'link', size: 'auto' })}
            >Continue reading my bio &rarr;</a
          >
        </article>
      </div>
    </div>
  </SectionAnimation>
</section>
