---
import ContactForm from "@/components/form/ContactForm.tsx"
---
    <section id="contact">
      <div class="container">
        <h2>Contact</h2>
        <ContactForm client:visible/>
      <div/>
    <section/>

