---
import ContactForm from "@/components/form/ContactForm.tsx";
import Socials from "./Socials.astro";
---

<section id="contact">
  <div class="container">
    <h2>Contact Me</h2>
    <div class="flex">
      <article>
        <h4>Get in Touch</h4>
        <p class="max-w-[45ch] mb-8">
          Reach out today to explore how I can be an asset to your team as a
          dedicated web developer!
        </p>
        <ul class="space-y-6 text-xl">
          <li class="flex gap-4 items-center text-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-map-pin"
              ><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"
              ></path><circle cx="12" cy="10" r="3"></circle></svg
            ><span class="text-foreground">Stockholm, Sweden</span>
          </li>
          <li class="flex gap-4 items-center text-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-phone"
              ><path
                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
              ></path></svg
            ><span class="text-foreground">+46 72 786 10 96</span>
          </li>
          <!-- <li class="flex gap-4 items-center text-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-mail"
              ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
                d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
            ><span class="text-foreground">FaizanAsif.dev@gmail.com</span>
          </li> -->
        </ul>
        <Socials />
      </article>
      <article class="w-full">
        <h4>Message Me</h4>

        <ContactForm client:visible />
      </article>
    </div>
  </div>
</section>
