---
import ContactForm from "@/components/form/ContactForm.tsx";
---

<section id="contact">
  <div class="container">
    <h2>Contact</h2>
    <article>
      <ContactForm client:visible />
      <div>
        <h3>Get in Touch</h3>
        <div>
          <ul>
            <li>adress</li>
            <li>telephone</li>
            <li>email</li>
            <li></li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</section>
