---
import BackToTop from "./ui/BackToTop.astro";
---

<footer class="bg-secondary">
  <p>
    &copy; Copyright
    <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script>. Faizan Asif All Rights Reserved
    <BackToTop />
  </p>
</footer>
