---
import BackToTop from './ui/BackToTop.astro'
const { topId } = Astro.props
---

<footer class='relative bg-secondary py-8 text-center'>
  <p>
    &copy;
    <script type='text/javascript' is:inline>
      document.write(new Date().getFullYear())
    </script> Faizan Asif. All Rights Reserved.
  </p>
  <BackToTop topId={topId} />
</footer>
