---
import Navigation from '@/components/Navigation'
---

<header
  data-scrolled='false'
  class='fixed inset-[0_0_auto] z-50 bg-transparent py-6 data-[scrolled=true]:bg-background/90 data-[scrolled=true]:shadow'
>
  <div
    class='container flex items-center justify-between text-2xl font-semibold'
  >
    <p class='font-semibold text-[#ca2e55]'>
      &lt;<span class='text-primary'>FA </span>/&gt;
    </p>
    <Navigation client:only='react' />
  </div>
</header>
