---
import Navigation from '@/components/Navigation'
---

<header
  data-scrolled='false'
  class='data-[scrolled=true]:shadow bg-transparent fixed inset-[0_0_auto] z-50 py-6 data-[scrolled=true]:bg-background/90'
>
  <div
    class='container flex items-center justify-between text-2xl font-semibold'
  >
    <p class='text-[#ca2e55] font-semibold'>
      &lt;<span class='text-primary'>FA </span>/&gt;
    </p>
    <Navigation client:only='react' />
  </div>
</header>
