 ---
import {Button} from '@/components/ui/button.tsx'
 ---
 
 <section id="hero">
      <div class="container grid min-h-screen grid-cols-2 place-items-center">
        <div class="space-y-6">
          <h1 class="text-5xl font-extrabold tracking-tight scroll-m-20 lg:text-5xl">
            Hello, I'm Faizan Asif
          </h1>
          <p class="text-xl">
            Frontend Web Developer dedicated to building responsive and
            streamlined Websites and Web Applications that enhance overall user
            experience and&nbsp;functionality.
          </p>
          <Button asChild>
            <a href="#about">About Me</a>
          </Button>
          <Button asChild>
            <a href="#projects">View my Work</a>
          </Button>
        </div>
        <div class="w-[400px]  ">
          <img
            src="https://images.unsplash.com/photo-1668531282396-96bea4cacab5?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </div>
      </div>
    </section>