---
import { buttonVariants } from '@/components/ui/button.tsx'
import ScrollArrow from '@/components/ui/ScrollArrow.astro'
import Socials from '@/components/Socials.astro'
import Typewriter from 'typewriter-effect'
import { Icon } from 'astro-icon/components'
import Lottie from 'react-lottie-player/dist/LottiePlayerLight'
---

<section id='hero'>
  <div
    class='container relative mt-24 flex min-h-screen flex-col items-center justify-center gap-12 lg:mt-0 lg:flex-row-reverse lg:justify-end lg:gap-24'
  >
    <div id='hero-img' class='w-full max-w-[500px] rounded-xl bg-white'>
      <Lottie
        client:load
        play
        loop
        path={`/images/programmer-animation.json`}
        style={{
          marginInline: 'auto'
        }}
      />
    </div>
    <article>
      <h1 class='text-4xl font-bold tracking-tight md:text-5xl lg:text-6xl'>
        Hello, I'm <br />
        <span class='inline-block pt-2 text-primary'>Faizan Asif</span>
      </h1>
      <div
        class='mt-4 text-xl text-cyan-600 dark:text-cyan-400 md:text-2xl'
        aria-hidden='true'
      >
        <Typewriter
          client:load
          options={{
            strings: [
              'Frontend Developer',
              'Programming enthusiast',
              'Gamer',
              'Father',
              'Culinary Adventurer'
            ],
            autoStart: true,
            loop: true
          }}
        />
      </div>

      <p class='max-w-[65ch]'>
        Dedicated to building responsive and streamlined websites and web
        applications that enhance overall user experience
        and&nbsp;functionality.
      </p>
      <Socials />

      <a
        href='#contact'
        class={buttonVariants({ variant: 'default' }) + ' mt-2'}
      >
        <Icon name='message' />

        Contact Me</a
      >
    </article>

    <ScrollArrow />
  </div>
</section>
