---
import ThemeSwitch from "@/components/ui/ThemeSwitch.tsx"

const navLinks = [
  {
    title: 'Home',
    href: '#home',
  },
  {
    title: 'About',
    href: '#about',
  },
  {
    title: 'Skills',
    href: '#skills',
  },
  {
    title: 'Projects',
    href: '#projects',
  },
  {
    title: 'Contact',
    href: '#contact',
  },
]
---


    <header class="fixed top-0 w-full shadow-sm bg-secondary">
      <div class="container flex items-center justify-between text-2xl ">
        <div>logo</div>
        <nav class="flex gap-8">
          <ul class="flex gap-8 p-6">
            {navLinks.map(link => (
              <li>
                <a
                  href={link.href}
                  class="relative py-1 before:transition-transform before:duration-300 before:absolute before:w-full before:h-1 before:rounded-sm before:bottom-0 before:left:0 before:origin-right before:scale-x-0 before:bg-accent hover:before:origin-left hover:before:scale-x-100"
                >
                  {link.title}
                </a>
              </li>
            ))}
          </ul>
          <ThemeSwitch client:load/>
        </nav>
      </div>
    </header>
