---
import ProjectCard from '@/components/ProjectCard.astro'
// import data from '@/data/data.json'
import { getCollection } from 'astro:content'
const projectEntries = await getCollection('project')
---

<section id='projects'>
  <div class='container space-y-16'>
    <h2>My Projects</h2>
    <ul class='space-y-20 lg:space-y-24'>
      {projectEntries?.map((project) => <ProjectCard project={project} />)}
    </ul>
  </div>
</section>
