---
import ProjectCard from '@/components/ProjectCard.astro'
import data from '@/data/data.json'
---

<section id='projects'>
  <div class='container space-y-16'>
    <h2>My Projects</h2>
    <ul class='space-y-20 lg:space-y-24'>
      {
        data.projects.map((project, i) => (
          <ProjectCard project={project} index={i} />
        ))
      }
    </ul>
  </div>
</section>
