---
import { Icon } from 'astro-icon/components'
import SectionAnimation from './animations/section-animation'

const skills = [
  // {title:'HTML5',logoName:'html'},
  { title: 'CSS', logoName: 'css' },
  { title: 'JavaScript', logoName: 'javascript' },
  { title: 'React', logoName: 'react' },
  { title: 'Astro', logoName: 'astro' },
  { title: 'TypeScript', logoName: 'typescript' },
  { title: 'Sass', logoName: 'sass' },
  { title: 'Tailwind', logoName: 'tailwind' },
  { title: 'Firebase', logoName: 'firebase' },
  { title: 'PostgreSQL', logoName: 'postgresql' },
  // {title:'Git',logoName:'git'},
  { title: 'GitHub', logoName: 'github' },
  { title: 'MongoDB', logoName: 'mongo' },
  { title: 'Node.js', logoName: 'node' },
  { title: 'Express.js', logoName: 'express' },
  { title: 'Next.js', logoName: 'nextjs' }
]
---

<section id='skills'>
  <SectionAnimation client:only='react'>
    <div class='container'>
      <h2>My Skills</h2>
      <ul
        class='mx-auto flex flex-wrap justify-center gap-10 text-center text-foreground lg:max-w-[80%] lg:gap-x-12 lg:gap-y-16'
      >
        {
          skills.map((skill) => (
            <li class='hover:animate-bounce'>
              <Icon
                class='size-16 md:size-20 lg:size-24'
                title={skill.title}
                name={`logos/${skill.logoName}`}
              />
              {skill.title}
            </li>
          ))
        }
      </ul>
    </div>
  </SectionAnimation>
</section>
