---
import { Icon } from 'astro-icon/components'
import SectionAnimation from './animations/section-animation'
import { skills } from '@/data/skills'
---

<section id='skills'>
  <SectionAnimation client:only='react'>
    <div class='container'>
      <h2>My Skills</h2>
      <ul
        class='mx-auto flex flex-wrap justify-center gap-10 text-center text-foreground lg:max-w-[80%] lg:gap-x-12 lg:gap-y-16'
      >
        {
          skills.map((skill) => (
            <li class='relative'>
              <div class='after:absolute after:inset-x-0 after:bottom-0 after:h-0 after:translate-y-full hover:animate-bounce hover:after:h-8'>
                <Icon
                  class='size-16 md:size-20 lg:size-24'
                  title={skill.title}
                  name={`logos/${skill.logoName}`}
                />
                {skill.title}
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </SectionAnimation>
</section>
