---
const skills = [
  'HTML5',
  'CSS',
  'JavaScript',
  'React',
  'Astro',
  'TypeScript',
  'Sass',
  'Tailwind',
  'Firebase',
  'SQL',
  'Git',
  'Git Hub',
  'MUI',
  'VS Code'
]
---

<section id='skills'>
  <div class='container'>
    <h2>My Skills</h2>
    <ul
      class='mx-auto flex flex-wrap justify-center gap-10 text-center lg:max-w-[80%] lg:gap-x-12 lg:gap-y-16'
    >
      {
        skills.map((skill) => (
          <li>
            <img
              src={`/images/logos/${skill.toLowerCase()}.svg`}
              alt={`logo of ${skill}`}
              class='size-16 md:size-20 lg:size-24'
            />
            {skill}
          </li>
        ))
      }
    </ul>
  </div>
</section>
