---
const skills = [
  "HTML5",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "TypeScript",
  "Sass",
  "Tailwind",
  "Firebase",
  "SQL",
  "Git",
  "Git Hub",
  "MUI",
  "VS Code",
];
---

<section id="skills">
  <div class="container">
    <h2>My Skills</h2>
    <ul
      class="max-w-[80%] mx-auto text-center flex flex-wrap gap-x-12 gap-y-16 justify-center"
    >
      {
        skills.map((skill) => (
          <li>
            <img
              src={`/images/logos/${skill.toLowerCase()}.svg`}
              alt={`logo of ${skill}`}
              class="w-24 h-24"
            />
            {skill}
          </li>
        ))
      }
    </ul>
  </div>
</section>
