---
const socials = [
  {
    title: "Github",
    url: "https://github.com/FaizanAsifB",
    icon: "fa-brands fa-github",
  },
  {
    title: "Linkedin",
    url: "https://linkedin.com/",
    icon: "fa-brands fa-linkedin",
  },
  {
    title: "Email",
    url: "mailto:FaizanAsif.dev@gmail.com",
    icon: "fa-solid fa-at",
  },
  {
    title: "Discord",
    url: "https://discord.com/",
    icon: "fa-brands fa-discord",
  },
];
---

<ul class="flex items-center gap-8 my-8">
  {
    socials.map((social) => (
      <li class="group">
        <a
          href={social.url}
          class="inline-block group-hover:animate-bounce  group-hover:text-primary"
        >
          <i class={social.icon + " fa-2xl"} title={social.title} />
        </a>
      </li>
    ))
  }
</ul>
